*{
    font-family: "PortrateOne"; 
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    /* position: relative; */
}

header{
    height: 100px;
    background-color: rgba(243, 104, 11, 0.671);
}
.header_logo{
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
}
.header_logo img{
    width: 100%;
    height: 100%;
}
nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav{
    margin: 0 auto; 
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav_item{
    font-size: 24px;
}
.header_nav_item a{
    text-decoration: none;
    color: white;
}
.header_nav_item a:hover{
    text-decoration: underline;
}
.abouUs{
    max-height: 660px;
    padding: 50px;
}
.aboutUs_wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutUs_item{
    display: flex;
    align-items: center;
}
.aboutUs_item img{
    width: 600px;
    height: 500px;
}
.aboutUs_text{
    font-size: 24px;
}
h1, h2, h3{
    text-align: center;
}
h1{
    margin-top: 30px;
}
.bids{
    height: 450px;
    padding: 50px;
}
.bids_wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bids_item img{
    cursor:pointer;
    width: 300px;
    height: 220px;
}
.makeBid{
    height: 240px;
    padding: 50px;
    background-color: rgba(243, 104, 11, 0.671);
}
.makeBid a{
    text-decoration: none;
}
.button{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 300px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    border: none;
}
.button:hover{
    background-color: black;
    color: white;
    transition: 2s;
}
footer{
    height: 160px;
    background-color: black;
    color: white;
    padding: 20px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_nav{
    list-style-type: none;
}
.footer_nav_item a{
    text-decoration: none;
    color: white;
}
.footer_nav_item{
    margin-top: 10px;
    font-size: 20px;
}
.footer_info{
    text-align: center;
}
.phone{
    margin-top: 10px;
}
.address_text{
    margin-top: 10px;
}
.phone_text a{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.line{
    max-width: 1320px;
    height: 2px;
    background-color: grey;
    margin: 0 auto;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
    display: none;
}
.modalLogin {
    position: absolute;
    top: 50%;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 170px;
    background-color: #fff;
    padding: 20px 40px;
    display: none;
}
.modalReg {
    position: absolute;
    top: 50%;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 300px;
    background-color: #fff;
    padding: 20px;
    display: none;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.loginForm input{
    font-family: 'Ubuntu-Medium';
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius:5px;
    outline: none;
    margin-bottom: 10px;
    color: black;
}
.login_submit{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius:15px;
    outline: none;
    border:none;
    background-color: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.login_submit:hover{
    background-color: rgb(255, 115, 0);
    transition: 1s;
}
.login_text a{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    color: black;
}
.close{
    position: absolute;
    top: -5px;
    transform: translateY(-30%);
    right: -40px;
    font-size: 80px;
    cursor: pointer;
    color: orange;
}
.regForm{
    display: flex;
    flex-direction: column;
}
.regForm input{
    font-family: 'Ubuntu-Medium';
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius:5px;
    outline: none;
    margin-bottom: 10px;
    color: black;
}
.add{
    position: absolute;
    bottom: 53px;
    right: 20px;
}
.labelAdd{
    margin-top: 10px;
    font-family: 'Ubuntu-Medium';
    font-size: 16px;
}
.regForm .login_submit{
    margin-top: 16px;
}
.passnot{
    display: none;
    font-family: 'Ubuntu-Medium';
    text-align: center;
    color:red;
}
.reg_submit{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius:15px;
    outline: none;
    border:none;
    background-color: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.reg_submit:hover{
    background-color: rgb(255, 115, 0);
    transition: 1s;
}
.main_admin{
    padding: 10px;
    padding-top: 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    height: 160px;
    background-color: grey;
    border-radius: 15px;
}
.admin_title{
    font-size: 28px;
    margin-top: 150px;
}
.quantity{
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
}
.quantity span{
    color:orange;
}
.lkheader{
    height: 90px;
}
.lkheader_wrap{
    padding-top: 28px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.exitbtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-family: 'Ubuntu-Medium';
    cursor: pointer;
    outline: none;
    border: none;
}
.exitbtn:hover{
    background-color: black;
    color: #fff;
    transition: 2s;
}
.mybids{
    min-height: 400px;
    padding: 50px;
}
.mybids .bids_wrapper{
    flex-wrap: wrap;
    justify-content: space-around;
}
.mybids .bids_item{
    margin-bottom: 15px;
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.deleteButton{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-family: 'Ubuntu-Medium';
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
    background-color: rgb(255, 115, 0);
    color: #fff;
}
.deleteButton:hover{
    background-color: black;
    color: #fff;
    transition: 2s;
}
.newbid{
    padding: 50px;
    height: 440px;
    background-color: rgba(243, 104, 11, 0.671);
}
.newbid form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.bidname{
    padding: 0 10px;
    margin-bottom: 15px;
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Ubuntu-Medium';
}
textarea{
    width: 60%;
    border-radius:5px;
    padding: 10px;
    border: none;
    font-family: 'Ubuntu-Medium';
}
.filein{
    margin-top: 15px;
    border: 3px dashed black;
    font-family: 'Ubuntu-Medium';
    width: 230px;
    border-radius: 5px;
}
#categ{
    margin-top: 15px;
    width: 60%;
    font-family: 'Ubuntu-Medium';
    font-size: 20px;
}
.categ_labl{
    font-family: 'Ubuntu-Medium';
    margin-top: 15px;
}
.newbid_btn{
    font-family: 'Ubuntu-Medium';
    width: 200px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
}
.newbid_btn:hover{
    background-color: black;
    color: #fff;
    transition: 2s;
}
.allbids{
    padding-left: 20px;
    padding-right: 20px;
}
.allbids_item{
    margin-top: 30px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.item_img{
max-width: 320px;
max-height: 500px;
margin-right: 30px;
}
.item_img img{
    max-width: 330px;
    max-height: 500px;
}
.allbids_item_buttons{
    margin-left: 30px;
}
.item_text{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.item_title{
    font-family: 'Ubuntu-Medium';
    margin-bottom: 15px;
}
.item_decr{
    font-family: 'Ubuntu-Medium';
}
.item_time{
    margin-top: 15px;
    font-family: 'Ubuntu-Medium';
}
.allbids_item_buttons{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 260px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.allbids_item_buttons button{
    height: 50px;
    font-family: 'Ubuntu-Medium';
}
.allbids_item:last-child{
    margin-bottom: 50px;
}
.item_status{
    color:red;
    margin-top: 15px;
    font-family: 'Ubuntu-Medium';
}




























































@media (max-width:768px) {
    .aboutUs_item{
        flex-direction: column;
    }
    .bids_wrapper{
        flex-wrap: wrap;
        margin-top: 34px;
    }
    .bids_item{
        margin-top: 40px;
    }
    header nav{
        padding-left: 20px;
    }
    .header_nav {
        width: 60%;
    }
    .aboutUs_text{
        text-align: center;
    }
    .aboutUs_item img{
        display: none;
    }
    .bids{
        height: 700px;
    }
    .button{
        margin-top: 65px;
    }
    .line{
        width: 700px;
    }
}

@font-face {
    font-family: "PortrateOne"; 
    src: url("../fonts/PoiretOne-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
} 